<div class="container">
    <div class="space"></div>
    <h1 class="h1">Technology made fun</h1>
    <div class="content">
        <form action="/submit" method="post">
            <Label for="text">Write your text below!</Label> <br> <br>
            <textarea name="text" id="text" cols="30" rows="10"></textarea>
    </div> <br>
    <div class="align" style="text-align: center;"> <button type="submit" style="text-align: center;">Read !</button></div>
    </form>
    <footer></footer>
</div>